<!DOCTYPE html>
<html lang = "es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"]</title>
    
    <link rel="stylesheet" href="~/css/account.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    @await RenderSectionAsync("styles", required: false)
</head>
<body class="sidebar-closed">
     <div class="app-layout">

        <aside id="sidebar" class="sidebar collapsed"> 
            
            <button class="sidebar-toggler" id="sidebarToggle">
                <i class="fas fa-chevron-right"></i>
            </button>
            
            <div class="sidebar-header">
                <h3>Ordex-In</h3>
                <hr />
            </div>

            <div class="nav-menu-top">
                <nav class="nav flex-column mt-4">
                    <div class="nav-item">
                        <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fas fa-home"></i> <span>Dashboard</span>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Inventory" asp-action="Index">
                            <i class="fas fa-boxes"></i> <span>Inventario</span>
                        </a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Management" asp-action="Index">
                            <i class="fas fa-cogs"></i> <span>Managment</span>
                        </a>
                    </div>
                </nav>
            </div>
                
            <div class="sidebar-footer">
                <button class="btn-logout" id="logoutButton" type="button">
                    <i class="fas fa-sign-out-alt"></i> <span>Cerrar Sesión</span>
                </button>
            </div>

        </aside>

        <main role="main" class="main-content">
            @RenderBody()
        </main>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js"></script> 

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>